.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;

  float:none;
  /* reset the text-align */
  text-align:center;
  color: white;

  /* inline-block space fix */
  margin-right:-2px;
  background-color: #00aaff;
  margin:2px;
}

.leftitem {
  float:left;
  width: 50%;
  border: 1px;
}

.rightitem {
  float:right;
  width: 50%;
  border: 1px;
}

.item {
  width:100%;
  height:50px;

}
.content {
  margin-top: 15px;
  display: inline-block;
  overflow: hidden;

}
